body {
   background-image: url("https://images.yourstory.com/2016/06/13.Why-you-should-be-investing-in-sports-startups.jpg");
   background-color: #cccccc;
   font-family: "Times New Roman", Times, serif;
   height: 50%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}


body {
}
 #form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
 .form-item {
  margin-right: 1.8rem;
}
 label.primary {
  display: block;
  margin: 0.4em 0;
}
 label::after {
  content: ":";
}
 button, input[type="submit"] {
  margin-top: 1rem;
}
 #reading-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
